:root {
  /* 灰色 */
  --t-color-grey: #e8e8e8; 
  /* 深灰色 */
  --t-color-dark-grey: #8b8e98;
  /* 浅青色 */
  --t-color-light-cyan: rgb(240 253 244);
  /* 青绿色 */
  --t-color-cyan: rgb(21 128 61);
  /* 深绿色 */
  --t-color-dark-cyan: rgb(22 101 52);
  /* 棕色 */
  --t-color-light-yellow: #f2b94b;
  /* 蓝色 */
  --t-color-light-blue: #1f7ddc;
  /* 青蓝色 */
  --t-color-cyan-blue: #2fd8d8;

  /* 盒子浅阴影 */
  --t-box-shadow-light: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* 盒子中等浅阴影 */
  --t-box-shadow-medium-light: 0 0 0 5px #ffffff80;
  /* 盒子立体阴影——未激活 */
  --t-box-shadow-3d-inactive: 0 0.03em 0 #f4f4f4, 0 0.06em 0 #efefef, 0 0.09em 0 #ececec, 0 0.12em 0 #e0e0e0, 0 0.15em 0 #dedede, 0 0.18em 0 #dcdcdc, 0 0.21em 0 #cacaca, 0 0.24em 0.2em #cecece;
  /* 盒子立体阴影——激活 */
  --t-box-shadow-3d-active: none;

  /* 细边框 */
  --t-border-thin: 1px #dcdfe6 solid;
  /* 细边框浅色 */
  --t-border-thin-light: 1px solid #ebebeb;
  /* 细边框蓝色 */
  --t-border-thin-blue: 1.5px solid #1677ff;
  /* 细边框棕色 */
  --t-border-thin-yellow: 1.5px solid #f2b94b;
  /* 中边框灰色 */
  --t-border-medium-grey: 2px solid #ccc;

  /* 正常选择 */
  --t-mouse-cursor-pointer: url('/src/assets/cursor/pointer.cur');
  /* 帮助选择 */
  --t-mouse-cursor-help: url('/src/assets/cursor/help.cur');
  /* 不可用指针 */
  --t-mouse-cursor-unavailable: url('/src/assets/cursor/unavailable.cur');
  /* 链接选择 */
  --t-mouse-cursor-link: url('/src/assets/cursor/link.cur');
  /* 精准选择 */
  --t-mouse-cursor-precision: url('/src/assets/cursor/precision.cur');
  /* 移动指针 */
  --t-mouse-cursor-move: url('/src/assets/cursor/move.cur');
  /* 文本选择 */
  --t-mouse-cursor-beam: url('/src/assets/cursor/beam.cur');
  /* 位置选择 */
  --t-mouse-cursor-pin: url('/src/assets/cursor/pin.cur');
  /* 手写 */
  --t-mouse-cursor-handwriting: url('/src/assets/cursor/handwriting.cur');
  /* 水平调整 */
  --t-mouse-cursor-horz: url('/src/assets/cursor/horz.cur');
  /* 垂直调整 */
  --t-mouse-cursor-vert: url('/src/assets/cursor/vert.cur');
  /* 对角调整1 */
  --t-mouse-cursor-diag1: url('/src/assets/cursor/dgn1.cur');
  /* 对角调整2 */
  --t-mouse-cursor-diag2: url('/src/assets/cursor/dgn2.cur');

  // 滚动条宽度
  --t-scrollbar-width-thin: 6px;
}

@font-face {
  font-family: 'pingfang';
  src: url('/src/font/pingfang.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'pingfang', sans-serif;
  cursor: var(--t-mouse-cursor-pointer), default;
}

a {
  cursor: var(--t-mouse-cursor-link), pointer;
}

button {
  cursor: var(--t-mouse-cursor-link), pointer;
}

/* element-plus 默认样式 */
.el-radio {
  cursor: var(--t-mouse-cursor-link), pointer;

  .el-radio__inner {
    cursor: var(--t-mouse-cursor-link), pointer;
  }
}

.el-input-number {
  span {
    cursor: var(--t-mouse-cursor-link), pointer;
  }
}
