:root {
  /* 灰色 */
  --t-color-grey: rgb(216, 216, 216); 
  /* 深灰色 */
  --t-color-dark-grey: #8b8e98;
  /* 浅青色 */
  --t-color-light-cyan: rgb(240 253 244);
  /* 青绿色 */
  --t-color-cyan: rgb(21 128 61);
  /* 深青色 */
  --t-color-dark-cyan: rgb(22 101 52);

  /* 盒子浅阴影 */
  --t-box-shadow-light: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* 盒子中等浅阴影 */
  --t-box-shadow-medium-light: 0 0 0 5px #ffffff80;

  /* 细边框 */
  --t-border-thin: 1px #dcdfe6 solid;
  /* 细边框浅色 */
  --t-border-thin-light: 1px solid #ebebeb;
  /* 细边框蓝色 */
  --t-border-thin-blue: 1.5px solid #1677ff;
  /* 中边框灰色 */
  --t-border-medium-grey: 2px solid #ccc;
}