.titlebar {
  height: 30px;
  background: transparent;
  -webkit-user-select: none;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  -webkit-user-select: none;
  user-select: none;
}

.titlebar-button:hover {
  background: rgb(216, 216, 216);
}

.titlebar-front-group{
  display: flex;
  /* 使该元素相对于父元素以flex-start的方式布局 */
  margin-right: auto;
  margin-left: 10px;

  .titlebar-front-button{
    display: inline-flex;
    opacity: 0;
    width: 40px;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    border-radius: 5px;
  }
  .titlebar-front-button:hover{
    background: rgba(216, 216, 216, 0.75);
  }
}

.titlebar-front-group:hover > .titlebar-front-button{
  opacity: 1;
  transition: all 0.3s ease-in;
}
/* 当同时包含两个类时 */
.titlebar-front-button.active{
  opacity: 1;
}
